<div class="w3-container w3-teal w3-round-xxlarge">
    <h1 class="w3-center">CemBoard</h1>
</div>
<div class="w3-center">
    <button class="w3-bar-item w3-btn w3-black" onclick="changeColor('black')">Siyah</button>
    <button class="w3-bar-item w3-btn w3-red" onclick="changeColor('red')">Kırmızı</button>
    <button class="w3-bar-item w3-btn w3-blue" onclick="changeColor('blue')">Mavi</button>
    <button class="w3-bar-item w3-btn w3-green" onclick="changeColor('green')">Yeşil</button>
    <button class="w3-bar-item w3-button w3-round-large w3-white" onclick="changeColor('white')">Silgi</button>
    <button class="w3-bar-item w3-button w3-round-large w3-cyan" style="width:15%"
        onclick="changeColor('clear')">Temizle</button>
</div>
<br>
<div class="w3-center">
    <canvas class="w3-white w3-center w3-round-xlarge" id="canvas" width="2000" height="800"
        style="border: 2px solid black;"></canvas>
</div>